html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    
}
/*PAGE 1*/
.page1{
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background-image:url(images/bg2.png);
    background-position: center;
    background-size: cover;
    position: relative;
    background-blend-mode: ;

}
.page2 {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(184, 184, 255), #ffffff);
    background-position: center;
    background-size: cover;
    position: relative;
}